body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    background: #ebf6ff;
}
.news-grids {
    padding: 4em 0;
}
.w3layouts-news-grid-heading h2{
	font-size: 1.5em;
    margin: 0;
    color: #000000;
    font-weight: 600;
}
.agileits-news-top {
    margin: 2em 0;
}
.breadcrumb {
    background-color: #ffffff;
}
ol.breadcrumb li a{
    color: #000000 !important;
    text-decoration: none;
}
.agileinfo-news-top-grids{
	margin:2em 0;
}
/*-- wthree-news-left --*/
.wthree-news-left {
    padding: 1em;
    background: #FFFFFF;
}
.wthree-news-top-left {
    padding: 1em 0;
    border-bottom: ridge 1px #e4e4e4;
}
.wthree-news-top-left:nth-child(1) {
    padding-top: 0;
}
.wthree-news-top-left:last-child {
	border-bottom: none;
}
.w3-agileits-news-left {
    padding-left: 0;
}
.wthree-news-img {
    padding-left: 0;
}
.wthree-news-info {
    padding-right: 0;
}
.wthree-news-img a img{
	width:100%;
}
.wthree-news-img a {
    display: block;
}
.wthree-news-info h5{
    font-size: 1em;
    margin: 0;
    font-weight: 600;
    line-height: 1.3em;
}
.wthree-news-info h5 a{
	color: #000000;
	text-decoration:none;
}
.wthree-news-info h5 a:hover{
	color:#ff9800;
}
.wthree-news-info p {
    color: #999999;
    font-size: .9em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
}
.wthree-news-info ul{
    padding: 0;
    margin: 1em 0 0 0;
}
.wthree-news-info ul li{
	display:inline-block;
    color: #999999;
    font-size: .9em;
}
.wthree-news-info ul li:nth-child(2){
	margin-left:1em;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #ffffff;
    cursor: default;
    background: #ff9800;
    border: solid 1px #ff9800;
}
.nav-tabs > li > a {
    margin-right: 3px;
    font-size: 1em;
    color: #717171;
    border: solid 1px #c3c3c3;
    border-radius: 3px;
    background: #ffffff;
    padding: .2em 0.573em;
}
.nav-tabs > li > a:focus{
	background:transparent;
}
.nav-tabs {
    border-bottom: none;
    margin: 0em auto 1em 0;
    text-align: center;
}
.nav-tabs > li {
    margin: 0 .5em 0 0;
}
.nav-tabs > li > a:hover {
    color: #FFFFFF;
    background: #ff9800;
    border: solid 1px #ff9800;
}
/*-- //wthree-news-left --*/
/*-- wthree-news-right --*/
/*-- news-right-top --*/
.wthree-news-right-heading {
    padding: 1em;
    background: #ff9800;
}
.wthree-news-right-heading h3{
	color: #ffffff;
    margin: 0;
    font-size: 1.5em;
    font-weight: 600;
}
.wthree-news-right-top{
    background: #FFFFFF;
    padding: 1em;
    min-height: 900px;
}
.date-text{
	position:relative;
}
.date-text a{
    font-size: 1em;
    margin: 0;
    font-weight: 600;
    line-height: 1.3em;
	color: #000000;
    text-decoration: none;
}
.date-text a:hover{
    color: #ff9800;
}
.date-text p{
    color: #999999;
    font-size: .9em;
    margin: .5em 0;
    line-height: 1.8em;
}
.date-text img{
	padding-left:1em;
}
/*-- //news-right-top --*/
/*-- //wthree-news-right --*/
/*-- news-right-bottom --*/
.news-right-bottom {
    margin: 1em 0 0 0;
}
.news-right-bottom-bg{
	padding:1em;
	background:#FFFFFF;
}
.top-news-grid-heading a {
    font-size: 1em;
    margin: 0;
    line-height: 1.3em;
    color: #000000;
	font-weight:600;
	text-decoration:none;
}
.top-news-grid-heading a:hover {
    color: #ff9800;
}
.top-news-grid {
    padding: 0 0 1em 0;
}
.top-news-grid:last-child{
	padding-bottom:0;
}
.w3ls-news-t-grid {
    margin: 1em 0 0 0;
}
.w3ls-news-t-grid ul {
    padding: 0;
    margin: 0;
}
.w3ls-news-t-grid  ul li {
    display: inline-block;
    padding: 0 .5em;
}
.w3ls-news-t-grid  ul li a {
    color: #999999;
    font-size: .9em;
	text-decoration:none;
}
/*-- //news-right-bottom --*/