@{
    this.ViewData["ActivePage"] = MovieNavPages.Movies;
    this.ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="@MovieNavPages.AddMovieNavClass(ViewContext)"><a asp-controller="Movies" asp-action="AddMovieAsync">Add movie</a></li>
                <li class="@MovieNavPages.EditMovieNavClass(ViewContext)"><a asp-controller="Movies" asp-action="EditMovieAsync">Edit movie</a></li>
                <li class="@MovieNavPages.RemoveMovieNavClass(ViewContext)"><a asp-controller="Movies" asp-action="RemoveMovieAsync">Remove movie</a></li>
                <li class="@MovieNavPages.GetAllNavClass(ViewContext)"><a asp-controller="Movies" asp-action="GetAllMoviesAsync">List movies</a></li>
            </ul>
        </div>
    </div>
</div>
