
@{
    ViewData["Title"] = "News";
}

<!-- faq-banner -->
<div class="faq">
    <div class="container">
        <div class="agileits-news-top">
            <ol class="breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active">News</li>
            </ol>
        </div>
        <div class="agileinfo-news-top-grids">
            <div class="col-md-8 wthree-top-news-left">
                <div class="wthree-news-left">
                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home1" id="home1-tab" role="tab" data-toggle="tab" aria-controls="home1" aria-expanded="true">Latest News</a></li>
                            <li role="presentation"><a href="#w3bsd" role="tab" id="w3bsd-tab" data-toggle="tab" aria-controls="w3bsd">Movie News</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home1" aria-labelledby="home1-tab">
                                <div class="wthree-news-top-left">
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m1.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m2.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="wthree-news-top-left">
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m3.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m4.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="wthree-news-top-left">
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m5.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m6.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="wthree-news-top-left">
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m7.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m8.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="wthree-news-top-left">
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m9.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m10.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="wthree-news-top-left">
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m11.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m12.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="wthree-news-top-left">
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m13.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m14.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="wthree-news-top-left">
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m15.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m16.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="w3bsd" aria-labelledby="w3bsd-tab">
                                <div class="wthree-news-top-left">
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m18.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="wthree-news-top-left">
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m19.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m20.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="wthree-news-top-left">
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m21.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m22.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="wthree-news-top-left">
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m1.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m2.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="wthree-news-top-left">
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m3.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m4.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="wthree-news-top-left">
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m5.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m6.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="wthree-news-top-left">
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m7.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="col-md-6 w3-agileits-news-left">
                                        <div class="col-sm-5 wthree-news-img">
                                            <a href="news-single.html"><img src="~/images/m8.jpg" alt="" /></a>
                                        </div>
                                        <div class="col-sm-7 wthree-news-info">
                                            <h5><a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h5>
                                            <p>Sed tristique mattis fermentum. Etiam semper aliquet massa, id tempus massa mattis eget.</p>
                                            <ul>
                                                <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/09/2016</li>
                                                <li><i class="fa fa-eye" aria-hidden="true"></i> 2642</li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wthree-news-right">
                <!-- news-right-top -->
                <div class="news-right-top">
                    <div class="wthree-news-right-heading">
                        <h3>Updated News</h3>
                    </div>
                    <div class="wthree-news-right-top">
                        <div class="news-grids-bottom">
                            <!-- date -->
                            <div id="design" class="date">
                                <div id="cycler">
                                    <div class="date-text">
                                        <a href="news-single.html">August 15,2016</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                    <div class="date-text">
                                        <a href="news-single.html">July 08,2016 <span class="blinking"><img src="~/images/new.png" alt="" /></span></a>
                                        <p>Nullam non turpis sit amet metus tristique egestas et et orci.</p>
                                    </div>
                                    <div class="date-text">
                                        <a href="news-single.html">February 15,2016</a>
                                        <p>Duis venenatis ac ipsum vel ultricies in placerat quam</p>
                                    </div>
                                    <div class="date-text">
                                        <a href="news-single.html">January 15,2016 <span class="blinking"><img src="~/images/new.png" alt="" /></span></a>
                                        <p>Pellentesque ullamcorper fringilla ipsum, ornare dapibus velit volutpat sit amet.</p>
                                    </div>
                                    <div class="date-text">
                                        <a href="news-single.html">September 24,2016</a>
                                        <p>In lobortis ipsum mi, ac imperdiet elit pellentesque at.</p>
                                    </div>
                                    <div class="date-text">
                                        <a href="news-single.html">August 15,2016</a>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                    <div class="date-text">
                                        <a href="news-single.html">July 08,2016 <span class="blinking"><img src="~/images/new.png" alt="" /></span></a>
                                        <p>Nullam non turpis sit amet metus tristique egestas et et orci.</p>
                                    </div>
                                    <div class="date-text">
                                        <a href="news-single.html">February 15,2016</a>
                                        <p>Duis venenatis ac ipsum vel ultricies in placerat quam</p>
                                    </div>
                                    <div class="date-text">
                                        <a href="news-single.html">January 15,2016 <span class="blinking"><img src="~/images/new.png" alt="" /></span></a>
                                        <p>Pellentesque ullamcorper fringilla ipsum, ornare dapibus velit volutpat sit amet.</p>
                                    </div>
                                    <div class="date-text">
                                        <a href="news-single.html">September 24,2016</a>
                                        <p>In lobortis ipsum mi, ac imperdiet elit pellentesque at.</p>
                                    </div>
                                </div>
                                <script>
										function blinker() {
											$('.blinking').fadeOut(500);
											$('.blinking').fadeIn(500);
										}
										setInterval(blinker, 1000);
                                </script>
                                <script>
											function cycle($item, $cycler){
												setTimeout(cycle, 2000, $item.next(), $cycler);

												$item.slideUp(1000,function(){
													$item.appendTo($cycler).show();
												});
												}
											cycle($('#cycler div:first'),  $('#cycler'));
                                </script>
                            </div>
                            <!-- //date -->
                        </div>
                    </div>
                </div>
                <!-- //news-right-top -->
                <!-- news-right-bottom -->
                <div class="news-right-bottom">
                    <div class="wthree-news-right-heading">
                        <h3>Top News</h3>
                    </div>
                    <div class="news-right-bottom-bg">
                        <div class="news-grids-bottom">
                            <div class="top-news-grid">
                                <div class="top-news-grid-heading">
                                    <a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum ac nulla</a>
                                </div>
                                <div class="w3ls-news-t-grid top-t-grid">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> 1h</a></li>
                                        <li><a href="#"><i class="fa fa-user"></i> Vivamus nibh</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="top-news-grid">
                                <div class="top-news-grid-heading">
                                    <a href="news-single.html">Duis orci enim, rutrum vel sodales ut, tincidunt nec turpis.</a>
                                </div>
                                <div class="w3ls-news-t-grid top-t-grid">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> 3h</a></li>
                                        <li><a href="#"><i class="fa fa-user"></i> Cras pretium</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="top-news-grid">
                                <div class="top-news-grid-heading">
                                    <a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum ac nulla</a>
                                </div>
                                <div class="w3ls-news-t-grid top-t-grid">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> 1h</a></li>
                                        <li><a href="#"><i class="fa fa-user"></i> Vivamus nibh</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="top-news-grid">
                                <div class="top-news-grid-heading">
                                    <a href="news-single.html">Duis orci enim, rutrum vel sodales ut, tincidunt nec turpis.</a>
                                </div>
                                <div class="w3ls-news-t-grid top-t-grid">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> 3h</a></li>
                                        <li><a href="#"><i class="fa fa-user"></i> Cras pretium</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="top-news-grid">
                                <div class="top-news-grid-heading">
                                    <a href="news-single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum ac nulla</a>
                                </div>
                                <div class="w3ls-news-t-grid top-t-grid">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> 1h</a></li>
                                        <li><a href="#"><i class="fa fa-user"></i> Vivamus nibh</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="top-news-grid">
                                <div class="top-news-grid-heading">
                                    <a href="news-single.html">Duis orci enim, rutrum vel sodales ut, tincidunt nec turpis.</a>
                                </div>
                                <div class="w3ls-news-t-grid top-t-grid">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> 3h</a></li>
                                        <li><a href="#"><i class="fa fa-user"></i> Cras pretium</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //news-right-bottom -->
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //faq-banner -->
