@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container container_addon">
    <h2>Admin dashboard</h2>
    <div>
        <h4>Change your admin settings</h4>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <partial name="_AdminNav" />
            </div>
            <div class="col-md-auto">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}