@using CinemaWorld.Data.Models.Enumerations
@model CinemaWorld.Models.InputModels.AdministratorInputModels.Seats.SeatCreateInputModel
@{
    this.ViewData["Title"] = "Create Seat";
    this.ViewData["ActivePage"] = SeatsNavPages.Seats;

    var halls = Model.Halls
        .Select(x => new SelectListItem(x.Id.ToString() + " - " + x.Capacity.ToString() + " capacity", x.Id.ToString()));
}

<div class="row">
    <div class="col-md-6">
        <form asp-area="Administration" asp-controller="Seats" asp-action="Create" method="post">
            <h4>Create new seat</h4>
            <hr />
            <div class="form-group">
                <label asp-for="Number"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RowNumber"></label>
                <input asp-for="RowNumber" class="form-control" />
                <span asp-validation-for="RowNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HallId"></label>
                <div class="container">
                    <select asp-for="HallId" asp-items="halls" class="selectpicker">
                        <option selected="" disabled="">Select Hall</option>
                    </select>
                </div>
                <span asp-validation-for="HallId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category"></label>
                <div class="container">
                    <select class="selectpicker" asp-for="Category"
                            asp-items="@(Html.GetEnumSelectList<SeatCategory>())">
                        <option selected="" disabled="">Select seat category</option>
                    </select>
                </div>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Create seat</button>
        </form>
    </div>
</div>