@model CinemaWorld.Models.ViewModels.Movies.MovieViewModel
@{
    this.ViewData["Title"] = "All movies";
    this.ViewData["ActivePage"] = MovieNavPages.Movies;
}

<div class="faq">
    <h4 class="latest-text w3_faq_latest_text w3_latest_text">Movies List</h4>
    <div class="container">
        <div class="agileits-news-top">
            <ol class="breadcrumb">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active">List</li>
            </ol>
        </div>
    </div>
</div>