@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@using CinemaWorld.Models.ViewModels.Contacts
@model ContactFormEntryViewModel
@{
    ViewData["Title"] = "Contact us";
}

<!-- contact -->
<div class="contact-agile">
    <div id="map"></div>
    <div class="faq">
        <h4 class="latest-text w3_latest_text">Contact Us</h4>
        <div class="container">
            <div class="col-md-3 location-agileinfo">
                <div class="icon-w3">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                </div>
                <h3>Address</h3>
                <h4>Avenue Aleksandar Stamboliyski 101,</h4>
                <h4>Sofia,</h4>
                <h4>Bulgaria</h4>
            </div>
            <div class="col-md-3 call-agileits">
                <div class="icon-w3">
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                </div>
                <h3>Call</h3>
                <h4>02 929 2929</h4>
                <h4>+14056489808</h4>
                <h4>+16789339049</h4>
            </div>
            <div class="col-md-3 mail-wthree">
                <div class="icon-w3">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </div>
                <h3>Email</h3>
                <h4><a href="mailto:info@slavkata_99@abv.bg">slavkata_99@abv.bg</a></h4>
                <h4><a href="mailto:info@slavi_biserov@mail.bg">slavi_biserov@mail.bg</a></h4>
            </div>
            <div class="col-md-3 social-w3l">
                <div class="icon-w3">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </div>
                <h3>Social media</h3>
                <ul>
                    <li><a href="https://www.facebook.com/stanislavstoyanovphotography"><i class="fa fa-facebook" aria-hidden="true"></i><span class="text">Facebook</span></a></li>
                    <li class="twt"><a href="https://twitter.com/Slavkata99"><i class="fa fa-twitter" aria-hidden="true"></i><span class="text">Twitter</span></a></li>
                    <li class="ggp"><a href="https://www.instagram.com/stanislav_stoyanov99/?hl=bg"><i class="fa fa-instagram" aria-hidden="true"></i><span class="text">Instagram</span></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <form asp-action="Index" method="post">
                <div class="contact-custom_container">
                    <input asp-for="FirstName" placeholder="FIRST NAME" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="contact-custom_container">
                    <input asp-for="LastName" placeholder="LAST NAME" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="contact-custom_container">
                    <input asp-for="Email" placeholder="EMAIL" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="contact-custom_container">
                    <input asp-for="Subject" placeholder="SUBJECT" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
                <div class="contact-custom_container">
                    <textarea asp-for="Content" placeholder="YOUR MESSAGE" rows="15"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <input type="hidden" id="RecaptchaValue" name="RecaptchaValue" />
                <input type="submit" value="SEND MESSAGE" />
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript">
        google.maps.event.addDomListener(window, 'load', init);
        function init() {
            var mapOptions = {
                zoom: 11,
                center: new google.maps.LatLng(42.698334, 23.319941),
                styles: [{ "featureType": "all", "elementType": "labels.text.fill", "stylers": [{ "saturation": 36 }, { "color": "#000000" }, { "lightness": 40 }] }, { "featureType": "all", "elementType": "labels.text.stroke", "stylers": [{ "visibility": "on" }, { "color": "#000000" }, { "lightness": 16 }] }, { "featureType": "all", "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "administrative", "elementType": "geometry.fill", "stylers": [{ "color": "#000000" }, { "lightness": 20 }] }, { "featureType": "administrative", "elementType": "geometry.stroke", "stylers": [{ "color": "#000000" }, { "lightness": 17 }, { "weight": 1.2 }] }, { "featureType": "landscape", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 20 }] }, { "featureType": "poi", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 21 }] }, { "featureType": "road.highway", "elementType": "geometry.fill", "stylers": [{ "color": "#000000" }, { "lightness": 17 }] }, { "featureType": "road.highway", "elementType": "geometry.stroke", "stylers": [{ "color": "#000000" }, { "lightness": 29 }, { "weight": 0.2 }] }, { "featureType": "road.arterial", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 18 }] }, { "featureType": "road.local", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 16 }] }, { "featureType": "transit", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 19 }] }, { "featureType": "water", "elementType": "geometry", "stylers": [{ "color": "#000000" }, { "lightness": 17 }] }]
            };
            var mapElement = document.getElementById('map');
            var map = new google.maps.Map(mapElement, mapOptions);
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(42.698334, 23.319941),
                map: map,
            });
        }
    </script>
    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:Key"]"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@this.Configuration["GoogleReCaptcha:Key"]', { action: 'contact_form' }).then(function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>
}