@{
    this.ViewData["Title"] = "Thank you";
}

<div class="jumbotron text-center">
    <h1 class="display-3">Thank you for contacting us!</h1>
    <hr />
    <p class="lead"><strong>Please expect a reply</strong> to your email address as soon as possible.</p>
    <hr>
    <p class="lead">
        <a class="btn btn-lg btn-primary" asp-controller="Home" asp-action="Index" role="button">Continue to homepage</a>
    </p>
</div>