@{
    this.ViewData["Title"] = "Thank you";
}

<div class="jumbotron text-center">
    <h1 class="display-3">Thank you for your subscription!</h1>
    <hr />
    <p class="lead">Now you will be notified for new promotions and <strong>upcoming</strong> movies.</p>
    <hr>
    <p class="lead">
        <a class="btn btn-lg btn-primary" asp-action="Index" role="button">Continue to homepage</a>
    </p>
</div>