@model CinemaWorld.Models.ViewModels.Privacy.PrivacyEditViewModel
@{
    this.ViewData["Title"] = "Edit privacy";
    this.ViewData["ActivePage"] = PrivacyNavPages.Privacy;
}

<div class="row">
    <div class="col-md-6">
        <form asp-area="Administration" asp-controller="Privacy" asp-action="Edit" method="post">
            <h4>Edit Privacy with id: @Model.Id</h4>
            <hr />
            <div class="form-group">
                <label asp-for="PageContent"></label>
                <textarea asp-for="PageContent" class="form-control"></textarea>
                <span asp-validation-for="PageContent" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Edit privacy</button>
            <button asp-area="" asp-controller="Home" asp-action="Privacy" class="btn btn-primary">Back to privacy</button>
        </form>
    </div>
</div>

@section Scripts
{
    <script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            plugins: [
                "image paste table link code media"
            ]
        });
    </script>
}