@{
    this.ViewData["ActivePage"] = CinemaNavPages.Cinemas;
    this.ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="@CinemaNavPages.CreateCinemaNavClass(ViewContext)"><a asp-controller="Cinemas" asp-action="AddCinemaAsync">Create cinema</a></li>
                <li class="@CinemaNavPages.EditCinemaNavClass(ViewContext)"><a asp-controller="Cinemas" asp-action="EditCinemaAsync">Edit cinema</a></li>
                <li class="@CinemaNavPages.RemoveCinemaNavClass(ViewContext)"><a asp-controller="Cinemas" asp-action="RemoveCinemaAsync">Remove cinema</a></li>
                <li class="@CinemaNavPages.GetAllNavClass(ViewContext)"><a asp-controller="Cinemas" asp-action="GetAllCinemasAsync">List cinemas</a></li>
            </ul>
        </div>
    </div>
</div>
