@model CinemaWorld.Models.ViewModels.Directors.DirectorDetailsViewModel
@{
    this.ViewData["Title"] = "Delete Director";
    this.ViewData["ActivePage"] = DirectorNavPages.Directors;
}

<div class="row">
    <div class="col-md-6">
        <form asp-area="Administration" asp-controller="Directors" asp-action="Remove" method="post">
            <h4 class="text-danger">Are you sure you want to delete <b>@Model.FirstName @Model.LastName</b> director?</h4>
            <hr />
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" disabled="" />
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" disabled="" />
            </div>
            <button type="submit" class="btn btn-danger">Delete director</button>
            <button asp-area="Administration" asp-controller="Directors" asp-action="GetAll" class="btn btn-primary">Back to all directors</button>
        </form>
    </div>
</div>