@model CinemaWorld.Models.InputModels.AdministratorInputModels.Countries.CountryCreateInputModel
@{
    this.ViewData["Title"] = "Create Country";
    this.ViewData["ActivePage"] = CountryNavPages.Countries;
}

<div class="row">
    <div class="col-md-6">
        <form asp-area="Administration" asp-controller="Countries" asp-action="Create" method="post">
            <h4>Create new country</h4>
            <hr />
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Create country</button>
        </form>
    </div>
</div>