@model CinemaWorld.Models.ViewModels.Genres.GenreEditViewModel
@{
    this.ViewData["Title"] = "Edit Genre";
    this.ViewData["ActivePage"] = GenreNavPages.Genres;
}

<div class="row">
    <div class="col-md-6">
        <form asp-area="Administration" asp-controller="Genres" asp-action="Edit" method="post">
            <h4>Edit <b>@Model.Name</b> genre with id: @Model.Id</h4>
            <hr />
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Edit genre</button>
            <button asp-area="Administration" asp-controller="Genres" asp-action="GetAll" class="btn btn-primary">Back to all genres</button>
        </form>
    </div>
</div>