@{
    this.ViewData["ActivePage"] = GenreNavPages.Genres;
    this.ViewData["Title"] = "Genres";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="@GenreNavPages.CreateGenreNavClass(ViewContext)"><a asp-controller="Genres" asp-action="Create">Create genre</a></li>
                <li class="@GenreNavPages.GetAllNavClass(ViewContext)"><a asp-controller="Genres" asp-action="GetAll">List genres</a></li>
            </ul>
        </div>
    </div>
</div>
