@model CinemaWorld.Models.InputModels.Users.AjaxRegisterInputModel

<div class="form">
    <h3>Create an account</h3>
    <form id="formRegisterAjax" asp-area="" asp-controller="Users" asp-action="AjaxRegister" method="post">
        <div class="shadow">
            <div class="lds-dual-ring"></div>
        </div>
        <span id="register-error" class="text-danger" style="display: none; white-space: pre-line"></span>
        <input asp-for="Username" placeholder="Username">
        <input asp-for="FullName" placeholder="Full Name">
        <input asp-for="Password" placeholder="Password">
        <input asp-for="ConfirmPassword" placeholder="Confirm password">
        <input asp-for="Email" placeholder="Email Address">
        <div class="form-group form-check-inline">
            @foreach (var gender in Model.Genders)
            {
                <input type="radio" asp-for="SelectedGender" value="@gender" class="form-check-input" />@gender
            }
        </div>
        <hr />
        <input type="submit" value="Register">
    </form>
</div>

<script>
    $('#formRegisterAjax').submit(function (event) {
        event.preventDefault();
        var res = { success: false, message: '', action: '' };
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: $('#formRegisterAjax').attr('action'),
            xhrFields: {
                withCredentials: true
            },
            data: $('#formRegisterAjax').serialize(),
            beforeSend: function () {
                $('.shadow').show(900);
            },
            success: function (data) {
                res = data;
            },
            error: function (errorThrown) {
                res.message = 'Request failed: ' + errorThrown;
            },
            complete: function () {
                $('.shadow').hide(900);
                if (res.success) {
                    $('#myModal').modal('hide');
                    window.location = res.action;
                }
                else {
                    let span = document.getElementById("register-error");
                    span.style.display = "block";
                    span.style.marginBottom = "2.5vh"; // 2,5% from virtual screen
                    span.innerHTML = res.message;
                }
            }
        });
    });
</script>
