<div class="footer">
    <div class="container">
        <div class="w3ls_footer_grid">
            <div class="col-md-6 w3ls_footer_grid_left">
                <div class="w3ls_footer_grid_left1">
                    <h2>Subscribe to us</h2>
                    <div class="w3ls_footer_grid_left1_pos">
                        <div class="sendgrid-subscription-widget widget-2305" data-emailerror="Please enter a valid email address" data-nameerror="Please enter your name" data-checkboxerror="Please tick the box to accept our conditions">
                            <form class="sg-widget" data-token="0e31599c21b049751d32146e7845aec8" onsubmit="return false;">
                                <div class="sg-response"></div>
                                <input class="sg_email" type="email" name="sg_email" placeholder="your_email@example.com" required="required">
                                <input type="submit" class="sg-submit-btn" id="widget-2305" value="Subscribe">
                                <div class="sg-consent-text">
                                    <label>
                                        <input type="checkbox" class="sg_consent_checkbox" name="sg_consent_checkbox"> I understand and consent to the following
                                    </label>
                                    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Notice</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 w3ls_footer_grid_right">
                <a asp-area="" asp-controller="Home" asp-action="Index"><h2>Cinema<span>World</span></h2></a>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-5 w3ls_footer_grid1_left">
            <p>&copy; @DateTime.UtcNow.Year Cinema World. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
            <p><a href="https://github.com/stanislavstoyanov99/CinemaWorld">Open source project</a></p>
        </div>
        <div class="col-md-7 w3ls_footer_grid1_right">
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="News" asp-action="Index">News</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Schedule" asp-action="Index">Schedule</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="About" asp-action="Index">FAQ</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Genres" asp-action="ByName" asp-route-name="Action">Action</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Genres" asp-action="ByName" asp-route-name="Adventure">Adventure</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Genres" asp-action="ByName" asp-route-name="Comedy">Comedy</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Genres" asp-action="ByName" asp-route-name="Drama">Drama</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Contacts" asp-action="Index">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

<script type="text/javascript" defer src="//app.sgwidget.com/js/sg-widget-v2.js"></script>