@using CinemaWorld.Common
@using CinemaWorld.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<CinemaWorldUser> SignInManager
@inject UserManager<CinemaWorldUser> UserManager

<link href="~/css/spinner-loader.css" rel="stylesheet" asp-append-version="true">

@if (this.SignInManager.IsSignedIn(this.User))
{
    <div class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello, @(this.User.Identity.Name)!</a>
    </div>
    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <div class="nav-item">
            <a class="nav-link text-dark" asp-area="Administration" asp-controller="Movies" asp-action="Index" title="Admin">Admin Dashboard</a>
        </div>
    }
    <div class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
            <button type="submit" class="label label-primary">Logout</button>
        </form>
    </div>
}
else
{
    <div class="w3l_sign_in_register">
        <ul>
            <li><i class="fa fa-phone" aria-hidden="true"></i> (+000) 123 345 653</li>
            <li><a data-toggle="modal" data-target="#myModal">Login</a></li>
        </ul>
    </div>

    <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Sign In & Sign Up
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <section>
                    <div class="modal-body">
                        <div class="w3_login_module">
                            <div class="module form-module">
                                <div class="toggle">
                                    <i class="fa fa-times fa-pencil"></i>
                                    <div class="tooltip">Register</div>
                                </div>
                                <div class="form">
                                    <h3>Login to your account</h3>
                                    <form id="formLoginAJAX" asp-area="Identity" asp-page="/Account/Login" method="post">
                                        <div class="shadow">
                                            <div class="lds-dual-ring"></div>
                                        </div>
                                        <span id="login-error" class="text-danger" style="display: none"></span>
                                        <input type="text" name="Username" placeholder="Username" required="">
                                        <input type="password" name="Password" placeholder="Password" required="">
                                        <input type="submit" value="Login">
                                    </form>
                                </div>
                                <div class="form">
                                    <h3>Create an account</h3>
                                    <form asp-area="Identity" asp-page="/Account/Register" method="post">
                                        <input type="text" name="Username" placeholder="Username" required="">
                                        <input type="text" name="FullName" placeholder="Full Name" required="">
                                        <input type="password" name="Password" placeholder="Password" required="">
                                        <input type="password" name="ConfirmPassword" placeholder="Confirm password" required="">
                                        <input type="email" name="Email" placeholder="Email Address" required="">
                                        <label class="form-check-label">Male</label>
                                        <input type="radio" name="gender" id="genderMaleId" value="male" />
                                        <label class="form-check-inline">Female</label>
                                        <input type="radio" name="gender" id="genderFemaleId" value="female" />
                                        <hr />
                                        <input type="submit" value="Register">
                                    </form>
                                </div>
                                <div class="cta"><a id="forgot-password" href="/Identity/Account/ForgotPassword">Forgot your password?</a></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script>
        $('.toggle').click(function () {
            // Switches the Icon
            $(this).children('i').toggleClass('fa-pencil');
            // Switches the forms
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
    </script>
    <script>
        $('#formLoginAJAX').submit(function (event) {
            event.preventDefault();
            var res = { success: false, message: '', action: '' };
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: $('#formLoginAJAX').attr('action'),
                xhrFields: {
                    withCredentials: true
                },
                data: $('#formLoginAJAX').serialize(),
                beforeSend: function () {
                    $('.shadow').show(900);
                },
                success: function (data) {
                    res = data;
                },
                error: function (errorThrown) {
                    res.message = 'Request failed: ' + errorThrown;
                },
                complete: function () {
                    $('.shadow').hide(900);
                    if (res.success) {
                        $('#myModal').modal('hide');
                        window.location = res.action;
                    }
                    else {
                        let span = document.getElementById("login-error");
                        span.style.display = "block";
                        span.style.marginBottom = "2.5vh"; // 2,5% from virtual screen
                        span.innerHTML = res.message;
                    }
                }
            });
        });
    </script>
}
