@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error";
}

<div class="container">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
</div>

@if (this.Model.ShowRequestId)
{
    <div class="container">
        <strong>Request ID:</strong> <code class="container">@this.Model.RequestId</code>
    </div>
}
