@model HttpErrorViewModel
@{
    this.ViewData["Title"] = "Page not found";
}

<div class="container">
    <br />
    <h1>Page not found: @Model.StatusCode</h1>
    <div class="container">
        <h2>We are sorry for that!</h2>
        <img src="~/images/404.png" alt="Not found page">
        <br />
        <div class="container">
            <span>
                We are sorry, the page you requested could not be found. Please go back to the homepage or use the contact form.
                <br />
                Thank your for your understanding!
            </span>
            <div class="grid_3 grid_3 w3">
                <h3>
                    <a asp-controller="Home" asp-action="Index">
                        <span class="label label-primary">Home</span>
                    </a>
                    <a asp-controller="Contacts" asp-action="Index">
                        <span class="label label-primary">Contact</span>
                    </a>
                </h3>
            </div>
        </div>
    </div>
</div>
